* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background: #f6f6f6;
  .am-list-item .am-list-line .am-list-content {
    font-size: 15px;
  }
  .am-button-primary {
    border-color: #ff5b05;
    background-color: #ff5b05;
  }
}

.page-has-tabbar {
  padding-bottom: 60px;
}

.u-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
}