.page-category {
  .main {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  }
  .menu {
    overflow: scroll;
    float: left;
    width: 90px;
    height: 100%;
    text-align: center;
    background: #f5f5f5;
  }
  .body {
    overflow: hidden;
    flex: 1;
    background: #fff;
    word-break: break-all;
  }
  .menu-item {
    height: 50px;
    line-height: 50px;
  }
  .brand-item {
    float: left;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .brand-name {
    display: block;
    font-size: 12px;
    margin-top: 6px;
  }
  .brand-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
  }
  .is-active {
    color: sandybrown;
    font-weight: bold;
    background: #fff;
  }
  .child-list {
    overflow: hidden;
  }
	.category-name {
		padding: 16px 12px;
	}
}