.page-chat-item {
  .tab-screen {
    min-height: calc(100vh - 40px);
  }
  .chat-list {
    overflow: hidden;
    padding-bottom: 60px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .msg {
    font-size: 10px;
    color: #666;
    margin-top: 6px;
  }
  .item-name {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .chat-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 10px;
    font-size: 12px;
    margin-top: 20px;
    .avatar {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin-right: 6px;
    }
    .msg-content {
      color: #fff;
      background-color: #19a9ea;
      border-radius: 4px;
      max-width: 180px;
      line-height: 1.5;
      padding: 10px;
    }
  }
  .chat-item-left {
    flex-direction: row-reverse;
    .avatar {
      margin-left: 6px;
      margin-right: 0;
    }
  }
}